In [123]:
import pandas as pandas

In [124]:
df = pandas.read_csv('list.csv', ';')

In [125]:
df

           Фио      Клуб  разряд
0   джабраилов      мсха       1
1   Владимиров      Мфти       2
2    Жундубаев      мгсу       3
3      шишурин      мгту       1
4      гвоздев       мэи       2
5       карпов   Спутник       3
6       Улизко      мифи       3
7        Обоев       мэи       3
8        Дюков     мгимо       2
9      Назаров      мгсу       2
10   Миниханов      мифи       1
11      Карпов      мгсу       1
12      яловой       мэи       1
13     Гордеев       Маи       3
14     Боровец      Мфти       2
15     земский     мгимо       3
16   Бородачов  прошлого       1

In [126]:
DF = df

In [127]:
DF

           Фио      Клуб  разряд
0   джабраилов      мсха       1
1   Владимиров      Мфти       2
2    Жундубаев      мгсу       3
3      шишурин      мгту       1
4      гвоздев       мэи       2
5       карпов   Спутник       3
6       Улизко      мифи       3
7        Обоев       мэи       3
8        Дюков     мгимо       2
9      Назаров      мгсу       2
10   Миниханов      мифи       1
11      Карпов      мгсу       1
12      яловой       мэи       1
13     Гордеев       Маи       3
14     Боровец      Мфти       2
15     земский     мгимо       3
16   Бородачов  прошлого       1

In [128]:
N = len(DF)
for i in [1, 2, 4, 8, 16, 32, 64, 128, 256]:
    if i > N:
        add = i-N
        BinN = i
        break
add

15

In [129]:
N = len(DF)
for i in range(add):
    DF.loc[N+i, 'Фио'] = '* *'
    DF.loc[N+i, 'Клуб'] = '***'
DF

           Фио      Клуб  разряд
0   джабраилов      мсха     1.0
1   Владимиров      Мфти     2.0
2    Жундубаев      мгсу     3.0
3      шишурин      мгту     1.0
4      гвоздев       мэи     2.0
5       карпов   Спутник     3.0
6       Улизко      мифи     3.0
7        Обоев       мэи     3.0
8        Дюков     мгимо     2.0
9      Назаров      мгсу     2.0
10   Миниханов      мифи     1.0
11      Карпов      мгсу     1.0
12      яловой       мэи     1.0
13     Гордеев       Маи     3.0
14     Боровец      Мфти     2.0
15     земский     мгимо     3.0
16   Бородачов  прошлого     1.0
17         * *       ***     NaN
18         * *       ***     NaN
19         * *       ***     NaN
20         * *       ***     NaN
21         * *       ***     NaN
22         * *       ***     NaN
23         * *       ***     NaN
24         * *       ***     NaN
25         * *       ***     NaN
26         * *       ***     NaN
27         * *       ***     NaN
28         * *       ***     NaN
29         * *       ***     NaN
30         * *       ***     NaN
31         * *       ***     NaN

In [130]:
def proga(start, n):
    if n==2:
        return
    clubs = dict()
    for i in range(start, start+n):
        clubs.setdefault(DF['Клуб'][i], [0])
        clubs[DF['Клуб'][i]][0]+=1
        clubs[DF['Клуб'][i]].append(DF['Фио'][i])
    flag = 0 # 0 - need add people to left, 1 - need add people to right
    l = start
    r = start + n//2
    
    
    for i in clubs.keys():
        if clubs[i][0]%2 == 0:
            for j in range(1, 1 + clubs[i][0]//2):
                DF['Фио'][l] = clubs[i][j]
                DF['Клуб'][l] = i; 
                l+=1
            for j in range(1 + clubs[i][0]//2, clubs[i][0]+1):
                DF['Фио'][r] = clubs[i][j]
                DF['Клуб'][r] = i; 
                r+=1
        elif flag == 0:
            for j in range(1, 1 + clubs[i][0]//2 + 1):
                DF['Фио'][l] = clubs[i][j]
                DF['Клуб'][l] = i; 
                l+=1
            for j in range(1 + clubs[i][0]//2 + 1, clubs[i][0]+1):
                DF['Фио'][r] = clubs[i][j]
                DF['Клуб'][r] = i; 
                r+=1  
            flag = 1
        elif flag == 1:
            for j in range(1, 1 + clubs[i][0]//2):
                DF['Фио'][l] = clubs[i][j]
                DF['Клуб'][l] = i; 
                l+=1
            for j in range(1 + clubs[i][0]//2, clubs[i][0]+1):
                DF['Фио'][r] = clubs[i][j]
                DF['Клуб'][r] = i; 
                r+=1
            flag = 0

    proga(start, n//2)
    #print(DF)
    proga(start+n//2, n//2)

In [131]:
proga(0, BinN)

/Users/andrew_borovets/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/andrew_borovets/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/andrew_borovets/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/andrew_borovets/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/andrew_borovets/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/andrew_borovets/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/andrew_borovets/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/andrew_borovets/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/andrew_borovets/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/andrew_borovets/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [132]:
DF

           Фио      Клуб  разряд
0   джабраилов      мсха     1.0
1    Бородачов  прошлого     2.0
2      гвоздев       мэи     3.0
3          * *       ***     1.0
4    Жундубаев      мгсу     2.0
5          * *       ***     3.0
6       Улизко      мифи     3.0
7          * *       ***     3.0
8   Владимиров      Мфти     2.0
9          * *       ***     2.0
10      карпов   Спутник     1.0
11         * *       ***     1.0
12     шишурин      мгту     1.0
13         * *       ***     3.0
14       Дюков     мгимо     2.0
15         * *       ***     3.0
16     Боровец      Мфти     1.0
17         * *       ***     NaN
18       Обоев       мэи     NaN
19         * *       ***     NaN
20     Назаров      мгсу     NaN
21         * *       ***     NaN
22     земский     мгимо     NaN
23         * *       ***     NaN
24      Карпов      мгсу     NaN
25         * *       ***     NaN
26   Миниханов      мифи     NaN
27         * *       ***     NaN
28      яловой       мэи     NaN
29         * *       ***     NaN
30     Гордеев       Маи     NaN
31         * *       ***     NaN

In [133]:
DF1 = pandas.DataFrame(columns = ['Фио', 'Клуб', 'разряд'])
DF1

Empty DataFrame
Columns: [Фио, Клуб, разряд]
Index: []

In [134]:
k = 0
for i in range(len(DF)):
    if k%3==2:
        DF1.loc[k] = [' ', ' ', ' ']
        k+=1
    DF1.loc[k] = [DF['Фио'][i], DF['Клуб'][i], DF['разряд'][i]]
    k+=1

In [135]:
DF1

           Фио      Клуб разряд
0   джабраилов      мсха      1
1    Бородачов  прошлого      2
2
3      гвоздев       мэи      3
4          * *       ***      1
5
6    Жундубаев      мгсу      2
7          * *       ***      3
8
9       Улизко      мифи      3
10         * *       ***      3
11
12  Владимиров      Мфти      2
13         * *       ***      2
14
15      карпов   Спутник      1
16         * *       ***      1
17
18     шишурин      мгту      1
19         * *       ***      3
20
21       Дюков     мгимо      2
22         * *       ***      3
23
24     Боровец      Мфти      1
25         * *       ***    NaN
26
27       Обоев       мэи    NaN
28         * *       ***    NaN
29
30     Назаров      мгсу    NaN
31         * *       ***    NaN
32
33     земский     мгимо    NaN
34         * *       ***    NaN
35
36      Карпов      мгсу    NaN
37         * *       ***    NaN
38
39   Миниханов      мифи    NaN
40         * *       ***    NaN
41
42      яловой       мэи    NaN
43         * *       ***    NaN
44
45     Гордеев       Маи    NaN
46         * *       ***    NaN

In [136]:
DF1.to_csv('result', sep=";")